name: release

on:
  push:
    tags: [ v*.*.* ]

jobs:

  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: build
        uses: jkstack/smartagent-build@1.20.12

      - name: release
        uses: jkstack/smartagent-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OSS_ENDPOINT: http://oss-cn-shanghai.aliyuncs.com
          OSS_KEY: ${{ secrets.OSS_KEY }}
          OSS_SECRET: ${{ secrets.OSS_SECRET }}
          OSS_BUCKET: smartagent